<app-header-content [title]="'Formulaire'"></app-header-content>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">libelle</th>
        <th scope="col">description</th>
        <th scope="col">objectif</th>
        <th scope="col">resultat</th>
        <th scope="col">dureeRealisation</th>
        <th scope="col">budget</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let orientation of orientations">
        <td>{{ orientation.numOrientation}}</td>
        <td>{{orientation.libelle }}</td>
        <td>{{orientation.description  }}</td>
        <td>{{orientation.objectif}}</td>
        <td>{{orientation.resultat }}</td>
        <td>{{orientation.dureeRealisation }}</td>
        <td>{{orientation.budget}}</td>
        <td><li class="list-inline-item">
          <button class="btn btn-secondary" (click)="deleteOrientation(orientation)">supprimer <span class="fa fa-trash"></span></button>
        </li></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
