<app-header-content [title]="'Formulaire'"></app-header-content>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>


<div class="card">

  <div class="card-header">
    <h3>Orientation</h3>
    <div class="card my-5">
      <div class="card-body">
        <form (ngSubmit)="onSubmitOrientation()">
          <div class="form-group">
            <label for="libelle">Libelle </label>
            <input type="text" [(ngModel)]="orientation.libelle"
                   class="form-control"
                   id="libelle"
                   name="libelle"
                   placeholder="libelle">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="textarea " [(ngModel)]="orientation.description"
                   class="form-control"
                   id="description"
                   name="description"
                   placeholder="description">
            <!--<textarea  [(ngModel)]="orientation.description"
              id="description" name="description"
                      rows="5" cols="33">
            </textarea>-->
          </div>
          <div class="form-group">
            <label for="dureeRealisation">Duree de réalisation</label>
            <input type="text" [(ngModel)]="orientation.dureeRealisation"
                   class="form-control"
                   id="dureeRealisation"
                   name="dureeRealisation"
                   placeholder="Durée de réalisation">
          </div>
          <div class="form-group">
            <label for="budget">Budget</label>
            <input type="text" [(ngModel)]="orientation.budget"
                   class="form-control"
                   id="budget"
                   name="budget"
                   placeholder="Budjet">
          </div>
          <div class="form-group">
            <label for="objectif">Objectif</label>
            <input type="text" [(ngModel)]="orientation.objectif"
                   class="form-control"
                   id="objectif"
                   name="objectif"
                   placeholder="objectif">
          </div>
          <div class="form-group">
            <label for="resultat">Resultat</label>
            <input type="text" [(ngModel)]="orientation.resultat"
                   class="form-control"
                   id="resultat"
                   name="resultat"
                   placeholder="resultat">
          </div>
          <button type="submit"
                  class="btn btn-outline-secondary">save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


